@{
    Layout = "_AnonLayout.cshtml";
}

<!DOCTYPE html>

<body>
    <h2>
        Sorry, an error occurred while processing your request. Please check the data and try again!
    </h2>
</body>
</html>