@{
    Layout = "_AnonLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body>
    <h2>
        Your account has not been added to the system users yet! Please check again later until our users manager will handle your account.
        <br /><br />
        For more information, please call our user management office: xxx-xxx-xxxx
        <br /><br />
        Click to @Html.ActionLink("Logon", "LogOn")
    </h2>
</body>
</html>